.featured {
  top: 60px;
  position: relative;
  z-index: 2;

  .category {
    font-size: 1.5rem;
    position: absolute;
    left: 60px;
    top: 60px;
    color: white;
    z-index: 500;

    select {
      cursor: pointer;
      background-color: var(--main-color);
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
      border: 0;
      font-size: 1rem;
      border-radius: 5px;
    }
  }

  .image {
    span {
      cursor: pointer;
    }

    .imageList {
      display: flex;
      width: max-content;
      transition: all 1s;

      img {
        width: 100vw;
      }
    }

    .iconLeft {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: scale(1.6) translateY(-50%);
      color: "#EFF1F1";
      z-index: 100;
    }

    .iconRight {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: scale(1.6) translateY(-50%);
      color: "#EFF1F1";
      z-index: 100;
    }
  }
}
