.list {
  width: 100%;
  margin-top: 30px;

  .listTitle {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 50px;
  }

  .wrapper {
    position: relative;
    margin-top: 8px;
    .sliderArrow {
      position: absolute;
      width: 40px;
      height: 100%;
      background-color: rgba(22, 22, 22, 0.5);
      color: white;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }

    .container {
      margin-left: 50px;
      display: flex;
      width: max-content;
      transition: all 1s ease;
    }
  }
}
