.login {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container {
    position: relative;
    width: 100%;
    top: 80px;
    color: white;

    .firstImage {
      div {
        font-size: 1.3rem;
        margin-top: 90px;
        width: 700px;
        right: 0;
        position: absolute;
        font-weight: 200;
        display: flex;
        flex-direction: column;

        button {
          font-family: "Ember-Medium";
          font-size: 1.1rem;
          color: white;
          width: 300px;
          padding: 20px;
          background-color: #1889c2;
          cursor: pointer;
        }
      }
    }
  }
}
