.app {
  display: flex;
  flex-direction: row;

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 300px;
    transition: all 0.5s;
  }

  .sidebar {
    position: fixed;
  }
}
