.topbar {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #f9fafb;
  width: 100%;
  background: white;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 10px;

  .wrapper {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icons {
      color: #64748b;
      font-size: 1.8rem;
    }
    .leftSection {
    }

    .rightSection {
      display: flex;
      justify-content: center;
      align-items: center;
      .topbarIconContainer {
        margin-right: 25px;
        position: relative;
        cursor: pointer;

        &:hover {
          background-color: #f1f5f9;
          border-radius: 50%;
        }
        .topIconBadge {
          position: absolute;
          width: 15px;
          height: 15px;
          top: -5px;
          right: 8px;
          background-color: red;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
        }
      }

      .topAvatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .logo {
      font-weight: bold;
      font-size: 1.8rem;
      cursor: pointer;
      color: black;
    }
  }
}
