.User {
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .UserTitle {
    margin: 20px;
  }

  .UserForm {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .UserItem {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;

    label {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
      color: rgb(151, 150, 150);
    }

    input {
      height: 30px;
      padding: 20px;
      border: 1px solid gray;
      border-radius: 5px;
    }
  }

  .UserGender {
    margin-right: 25px;

    input {
      margin-top: 10px;
    }
    label {
      position: relative;
      top: -6px;
      display: inline;
      font-size: 18px;
      color: #555;
    }
  }

  .UserSelect {
    height: 40px;
    border-radius: 5px;
  }

  .UserButton {
    width: 180px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 0;
    margin-top: 32px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
  }
}
