@font-face {
  font-family: "Ember-Medium";
  src: url("./fonts//Ember/Amazon-Ember-Medium.ttf");
}

@font-face {
  font-family: "Ember-Regular";
  src: url("./fonts//Ember/AmazonEmber_Rg.ttf");
}

body {
  margin: 0;
  font-family: "Ember-Regular";
}
