@font-face {
  font-family: "Ember-Medium";
  src: url("./assets/fonts/Ember/Amazon-Ember-Medium.ttf");
}

@font-face {
  font-family: "Ember-Regular";
  src: url("./assets/fonts//Ember/AmazonEmber_Rg.ttf");
}

body {
  margin: 0;
  font-family: "Ember-Regular";
}

:root {
  --navbar-color: #1b242f;
  --main-color: #0f171e;
  --text-color: #dde0e3;
}

.link {
  color: inherit;
  text-decoration: none;
}
